$background: $dark;
$background-base: $grey;
$background-light: $light;
$background-progress-bar: $grey2;
$background-progress-bar-hover: $light;

$font-color-dark: $dark;
$font-color-light: $light;
$font-color-accent: $mountain-meadow;
$font-color-grey: $grey3;

$button-background-primary: $mountain-meadow;
$button-background-secondary: $grey3;

$now-playing-title: $font-size-m;
$now-playing-subtitle: $font-size-s;

$playlists-default-margin: $spacing-m;
$playlists-color-selected: $mountain-meadow;

$status-indicator-closed-color: $grey3;
$status-indicator-opened-color: $mountain-meadow;

$files-list-item-hover-bg-color: $grey2;
$files-list-item-play-button-bg: $light;
$files-list-item-playing-color: $mountain-meadow;
