// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #ffc0ad;
$accent    : #9656a1;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$headline : #fffffe;
$paragraph: #fff3ec;
$burront: #ffc0ad;
$button-text: #271c19;
$stroke: #140d0b;
$main: #fff3ec;
$highlight: #e78fb3;

$ds-color-light: #fff3ec;
$ds-color-antracit: #271c19;
$ds-color-taupe: #55423d;
$ds-color-salmon: #ffc0ad;
$ds-color-dark-grey: #140d0b;
